.account-big-container {
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;

    .account-left-container {
        .account-left-content {

        }
    }

    .account-right-container {

    }
}