.home-big-container {
    display: flex;
    justify-content: space-between;
    margin: 5% 10%;

    .home-left-container {
        .home-left-content {

        }
    }

    .home-right-container {

    }
}